.Rproj.user
.Rhistory
.RData
.Ruserdata
*.pdf
*.xlsx
*.out
*.idx
*.aux
*.log
*.jpg
*.mpeg
*.png
*.eps
*.RData
*.lot
*.tcp
*.toc
*.tps
*.Rapp.history
*.bbl
*.blg
*.nlo
*.rtf
*.html
*.csv
*.mp4
*.nav
*.snm
*.vrb
Resultados/*
RData/*
Data/*
.Rprofile
